.feedback-list {
  height: 573px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: #F3F6F8; */
  background-color: #f7f8f9;

  scrollbar-color: #979ca0 #dbdfe4; /* Firefox */
  scrollbar-width: thin; /* Firefox */
}

.feedback-list::-webkit-scrollbar {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  width: 7px;
}

.feedback-list::-webkit-scrollbar-track {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  background-color: #dbdfe4;
}

.feedback-list::-webkit-scrollbar-thumb {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  background-color: #979ca0;
  transition: all 0.2s;
}

.feedback-list::-webkit-scrollbar-thumb:hover {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  background-color: #787c80;
}
