.feedback__form {
  margin-top: 20px;
  height: 123px;
  width: 470px;
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.feedback__form:hover,
.feedback__form:focus {
  background-color: rgba(255, 255, 255, 0.055);
}

.feedback__form:focus-within {
  outline: 2px solid rgba(255, 255, 255, 0.125);
}

.feedback__form--invalid {
  box-shadow: 0 0 0 2px #8a3d2c;
}

.feedback__form--valid {
  box-shadow: 0 0 0 2px #2c8a5e;
}

.feedback__form textarea {
  width: 100%;
  height: 85px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  padding: 15px 20px;
  caret-color: rgba(255, 255, 255, 0.25);
}

.feedback__form textarea::selection {
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.05);
}

.feedback__form textarea::placeholder {
  opacity: 0;
}

.feedback__form textarea:focus + label,
.feedback__form textarea:not(:placeholder-shown) + label {
  opacity: 0;
}

.feedback__form label {
  position: absolute;
  top: 13.5px;
  left: 20px;
  color: #fff;
  opacity: 0.42;
  pointer-events: none;
}

.feedback__form label::selection,
.feedback__form label *::selection {
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.05);
}

.feedback__form label svg {
  margin-bottom: -3px;
  margin-left: 4px;
  color: #fff;
  opacity: 0.5;
}

.feedback__form div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: -8px;
}

/* COUNTER */
.feedback__form div:last-child p {
  font-weight: 500;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.25);
  pointer-events: none;
}

.feedback__form div:last-child p::selection,
.feedback__form div:last-child p > *::selection {
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.05);
}

/* SUBMIT BTN */
.feedback__form button {
  color: #161921;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 16px 9px;
  border-radius: 500px;
  font-weight: 600;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  backface-visibility: hidden;
  transform: translateY(-2px) translateZ(0) rotate(0);
}

.feedback__form button:hover,
.feedback__form button:focus {
  transform: translateY(-2px) translateZ(0) scale(1.15);
}

.feedback__form button:active {
  transform: translateY(-2px) translateZ(0) scale(1.07);
}

.feedback__form button:hover span {
  transform: translateY(2px) translateZ(0);
}

.feedback__form button span {
  display: block;
  transition: all 0.2s;
  backface-visibility: hidden;
  transform: translateY(2px) translateZ(0) rotate(0);
}

.feedback__form button span::selection {
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 525px) {
  .feedback__form {
    width: initial;
    align-self: stretch;
  }

  .feedback__form label {
    padding-right: 20px;
  }
}
