li.hashtags__list-item {
  max-width: max-content;
  margin-bottom: 11px;
}

li.hashtags__list-item button {
  align-self: flex-start;
  font-size: 13px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  padding: 7px 14px 9px;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 500px;
  cursor: pointer;
  transition: all 0.2s;
}

li.hashtags__list-item button:hover,
li.hashtags__list-item button:focus {
  color: #fff;
  transform: scale(1.11);
}

li.hashtags__list-item button:active {
  transform: scale(1.06);
}

li.hashtags__list-item button::selection {
  background-color: rgba(255, 255, 255, 0.1);
}
