.app {
  position: relative;
  display: flex;
  justify-content: center;
  height: 850px;
}

@media (max-width: 1050px) {
  .app {
    flex-direction: column-reverse;
    height: initial;
  }
}

@media (max-width: 775px) {
  .app {
    width: 100%;
    border-radius: 0;
  }
}
