@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

textarea {
  font: inherit;
  border: initial;
  resize: none;
  outline: initial; /* create alternative for focus state */
}

button {
  font: inherit;
  border: initial;
  outline: initial; /* create alternative for focus state */
  background-color: initial;
}

/* UTILITIES */
.u-bold {
  font-weight: 600;
}

.u-medium {
  font-weight: 500;
}

.u-italic {
  font-style: italic;
}

.u-transparent {
  color: rgba(255, 255, 255, 0.8);
}

/* KEYFRAMES */
@keyframes intro {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/* BASE */
body {
  background-image: linear-gradient(200deg, #654a86, #534292);
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  scrollbar-width: none; /* Firefox */
}

.body::-webkit-scrollbar {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  display: none;
}

/* MEDIA QUERIES */
@media (max-height: 925px) {
  body {
    padding: 60px 0;
  }
}

@media (max-width: 775px) {
  body {
    padding-top: 0;
    padding-bottom: 20px;
    align-items: initial;
  }

  .feedback__badge {
    min-width: 49px;
  }

  .feedback__content {
    padding-right: 25px;
  }

  .feedback__date {
    margin-left: auto;
  }
}

@media (max-width: 525px) {
  .feedback--expand {
    height: initial;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .feedback__date {
    display: none;
  }
}
